/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body,
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #f8da3c;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: #f8da3c;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p,
ul,
li,
strong,
a,
link {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Layout */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 40px;
  max-width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-align-last: center;
}

section {
  padding: 2rem 0;
}

/* Navbar */
.navbar {
  background-color: #000;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

footer a {
  color: #f8da3c;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

/* Links */
a {
  color: #f8da3c;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  background-color: #f8da3c;
  color: black;
}

/* Buttons */

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: #f8da3c;
  color: black;
  padding: 0.8rem 1.5rem;
  border: 2px solid transparent;
  margin: auto;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: black;
  color: #f8da3c;
  text-decoration: none;
}

/* Forms */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #f8da3c;
  color: black;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: black;
  color: white;
}

/* Lists */
ul {
  padding-left: 20px;
}

li {
  margin-bottom: 0.5rem;
}

/* Headers */
header {
  background-color: transparent;
  padding: 1rem 0;
}

header h1 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #000;
  color: #f8da3c;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #f8da3c;
}

/* Image Styling */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Section Titles */
.highlight-text {
  color: #f8da3c;
}
